/************************************************************
 *
 * Reset
 *
 ***********************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  
  display: block;
}

body {
  
  line-height: 1;
}

ol, ul {
  
  list-style: none;
}

blockquote, q {
  
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  
  content: '';
  content: none;
}

table {
  
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/************************************************************
 *
 * Layout
 *
 ***********************************************************/
body {
  
  background: url(/admin/images/bg.png) top left;
  background-size: 200px 200px;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 480px) {

  body {
  
    width: 480px;
    height: 400px;
  }

}

div.container {
  
  position: absolute;
  top: 50px;
  bottom: 75px;
  background: url(/admin/images/dark_bg.png) top left;
  background-size: 180px 180px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header */
div.logo {
  
  position: absolute;
  right: 0;
  top: 0;
}

ul.menu {
  
  position: absolute;
  left: 50%;
  top: 10px;
  width: 270px;
  margin-left: -135px;
}

ul.menu.one-item {
  
  position: absolute;
  left: 50%;
  top: 10px;
  width: 200px;
  margin-left: -100px;
}

ul.menu li {
  
  width: 60px;
  float: left;
  height: 40px;
  margin-right: 10px;
}

ul.menu li:last-child {
  
  margin-right: 0;
}

ul.menu li a {
  
  display: block;
  width: 60px;
  height: 30px;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
  background: #000;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #828282;
  
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

ul.menu li.selected a {
  
  background: rgb(59,103,158); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  color: #fff;
}

li#instagram-menu-logout a {
  
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
  color: #fff;
}

/* Images */
div.instagram-images-container {
  
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#instagram-images-overlay {
  
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 10;
  color: #fff;
  text-align: center;
}

div#instagram-images-overlay .inner-update,
div#instagram-images-overlay .inner-error {
  
  position: absolute;
  width: 100%;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  display: none;
  line-height: 1.2;
}

#instagram-images-error {
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 25px;
}

div#instagram-images-overlay .inner-error strong {
  
  font-weight: bold;
}

div#instagram-images-result {
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 45px;
  font-weight: bold;
  padding: 15px;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
}

#instagram-images-loader {
  
  display: block;
  clear: both;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

#instagram-images-loading {
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

/* Instagram images */
ul#instagram-images {
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul#instagram-images li {
  
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul#instagram-images li div.instagram-image-info {
  
  display: block;
  margin: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0,0,0,.85);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  word-break: break-all;
}

/* Controls */
div#controls {
  
  position: relative;
  width: 100%;
  height: 75px;
}

div#controls .inner {
  
  position: relative;
  width: 100%;
  height: 75px;
  padding: 0;
}

div#controls div.control-btn {
  
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  margin: 12px 5%;
  width: 40%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  float: left;
  -moz-box-shadow:    3px 3px 5px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.2);
  box-shadow:         3px 3px 5px 3px rgba(0,0,0,0.2); 
}

div#controls div#approved-btn i {
  
  color: rgba(20,20,20, 0.8);
  text-shadow: 1px 4px 6px #9dd53a, 0 0 0 #000, 1px 4px 6px #9dd53a;
}

div#controls div#declined-btn i {
  
  color: rgba(20,20,20, 0.8);
  text-shadow: 1px 4px 6px #f85032, 0 0 0 #000, 1px 4px 6px #f85032;
}

div#controls div#approved-btn {
  
  background: #9dd53a; /* Old browsers */
  background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

div#controls div#declined-btn {
  
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

div#controls div#approved-btn.highlight,
div#controls div#declined-btn.highlight {
  
  background: #fff;
  filter: none;
}

div#controls div#approved-btn.highlight i,
div#controls div#declined-btn.highlight i {
  
  color: rgba(20,20,20, 0.8);
  text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;
}

/* Login */
div.login-container {
  
  width: 250px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -125px;
}

div.login-container form label {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

div.login-container .form-row {
  
  display: block;
  width: 250px;
  margin-bottom: 20px;
}

div.login-container .form-row input[type=text],
div.login-container .form-row input[type=password] {
  
  width: 230px;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

div.login-container .form-row input[type=text]:focus,
div.login-container .form-row input[type=password]:focus {
  
  outline: none;
}

div.login-container input[type=submit] {
  
  cursor: pointer;
  background: #fff;
  color: #000;
  width: 100px;
  margin-left: 0;
  margin-top: 50px;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  
}

div.login-container input[type=submit]:focus {
 
  outline: none;
}

div.login-container input[type=submit]:hover,
div.login-container input[type=submit]:active {
  
  background: #333333;
  color: #ffffff;
}

/* Settings */
div.instagram-settings-container {
  
  width: 400px;
}

div.settings-row {
  
  display: block;
  width: 260px;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  margin-top: 50px;
}

div.settings-label {
  
  display: block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  width: 150px;
  height: 35px;
  padding: 10px;
}

div.settings-setting {
  
  float: left;
  width: 110px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

div.toggle {
  
  height: 35px;
  width: 110px;
}
